.about .slider{width: 100%; height: 90vh; background-color: #151515; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about .slider h3{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 15px;}
.about .slider .swiper{width: 60%; height: 60vh; margin-top: 20px; border-radius: 15px;}
.about .slider .swiper .swiper-wrapper{width: 100%; height: 60vh;}
.about .slider .swiper .swiper-wrapper .img-1{background: black;}
.about .slider .swiper .swiper-wrapper .img-2{background: black;}
.about .slider .swiper .swiper-wrapper .img-3{background: black;}
.about .slider .swiper .swiper-wrapper .swiper-slide{background-size: cover; background-position: center center;}
.about .slider .swiper .swiper-wrapper .swiper-slide div:first-child{height: 100%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.5);}
.about .slider .swiper .swiper-wrapper .swiper-slide div:first-child h4{font-size: 30px; animation: fadeInUp 1s;}
.about .slider .swiper-button-next, .container .swiper-button-prev{color: #D4AF37; text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);}
.about .slider .swiper-pagination-bullet{background-color: #D4AF37; width: 15px; height: 15px;}
@media (max-width: 500px){
    .about .slider .swiper-button-next, .container .swiper-button-prev{display: none;}
}