.home .slider{width: 100%; height: 80vh; background: radial-gradient(rgb(0, 0, 0), rgb(27, 24, 10), rgb(0, 0, 0));}
.home .slider h3{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 15px;}
.home .slider .swiper{width: 60%; height: 60vh; margin-top: 20px; border-radius: 15px;}
.home .slider .swiper .swiper-wrapper{width: 100%; height: 60vh;}
.home .slider .swiper .swiper-wrapper .img-1{background-image: url(../img/slider1.jpg);}
.home .slider .swiper .swiper-wrapper .img-2{background-image: url(../img/slider2.jpg);}
.home .slider .swiper .swiper-wrapper .img-3{background-image: url(../img/slider3.jpg);}
.home .slider .swiper .swiper-wrapper .img-4{background-image: url(../img/slider4.jpg);}
.home .slider .swiper .swiper-wrapper .img-5{background-image: url(../img/slider5.jpg);}
.home .slider .swiper .swiper-wrapper .swiper-slide{background-size: cover; background-position: center center;}
.home .slider .swiper .swiper-wrapper .swiper-slide div:first-child{height: 100%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.5);}
.home .slider .swiper .swiper-wrapper .swiper-slide div:first-child h4{font-size: 30px; animation: fadeInUp 1s;}
.home .slider .swiper-button-next, .container .swiper-button-prev{color: #D4AF37; text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);}
.home .slider .swiper-pagination-bullet{background-color: #D4AF37; width: 15px; height: 15px;}
@media (max-width: 500px){
    .home .slider .swiper-button-next, .container .swiper-button-prev{display: none;}
}